body {
  background: black;
  color: #ffbcce;
  font-family: 'Noto';
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}

#text {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  /* background: yellow; */
  text-align: center;
}


.phrase {
  color: #ff0e45;
  display: inline;
}

@font-face {
  font-family: 'Noto';
  src: url("NotoSansSC-Regular.otf") format("opentype");
}
